@model RealTimeBlogPosts.DTO.DTOPost
@using Pioneer.Pagination;
@{
    ViewData["Title"] = "Home Page";
}
<div id="postListsDiv">
    @Html.PartialAsync("~/Views/Home/_postsList.cshtml", Model)
</div>
@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/posts.js"></script>
}